<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nsahukar.android.bakingapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.RecipesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.RecipeStepsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.RecipesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nsahukar.android.bakingapp.ui.RecipesActivity" />
        </activity>
        <activity
            android:name=".ui.RecipeDetailsActivity"
            android:parentActivityName=".ui.RecipeStepsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nsahukar.android.bakingapp.ui.RecipeStepsActivity" />
        </activity>
        <activity android:name=".widget.IngredientsAppWidgetConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <provider
            android:name=".data.BakingAppProvider"
            android:authorities="bakingapp.android.nsahukar.com.bakingapp"
            android:exported="false" />

        <service android:name=".sync.BakingAppSyncIntentService" />
        <service android:name=".sync.BakingAppJobService" />

        <receiver
            android:name=".widget.IngredientsAppWidget"
            android:label="@string/title_ingredients">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/ingredients_app_widget_info" />
        </receiver>

        <service
            android:name=".widget.IngredientsAppWidgetService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>